.blog_detalhe{
    padding: 100px 0px;
    .container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .noticia{
            width: 100%;
            margin-bottom: 50px;
            .titulo{
                font-size: 24px;
                font-family: 'Montserrat Bold';
                margin-bottom: 25px;
                &::after{
                    left: 0;
                    top: 100%;
                }
            }
            .data{
                margin-bottom: 25px;
                font-family: 'Montserrat Medium';
            }
            img{
                width: 100%;
                display: block;
                margin-bottom: 25px;
            }
            p{
                margin-bottom: 25px;

                &:last-child{
                    margin-bottom: 0;
                }
            }
            ul{
                margin-bottom: 25px;
                li{
                    list-style: inside;
                }
            }
            @include desktop{
                width: 66%;
                margin-bottom: 0px;
            }
        }
        .ultimas_noticias{
            width: 100%;
            .titulo{
                font-size: 24px;
                font-family: 'Montserrat Bold';
                margin-bottom: 70px;
                &::after{
                    left: 0;
                    top: 100%;
                }
            }
            .itens{
                .item{
                    width: 100%;
                    display: inline-block;
                    margin-bottom: 25px;
                    .img{
                        img{
                            width: 100%;
                            display: block;
                        }
                    }
                    .info{
                        border: 1px solid #fff;
                        padding: 20px;
                        background-color: #000;
                        margin: 0;
                        position: relative;
                        z-index: 2;
                        
                        .titulo{
                            font-size: 18px;
                            font-family: 'Montserrat Bold';
                            margin-bottom: 25px;
                            &::after{
                                display: none;
                            }
                        }
                        .data{
                            font-size: 14px;
                            width: max-content;
                            margin: -60px -20px 0 0;
                            float: right;
                            background-color: $color_destaque;
                            padding: 10px 15px;
                        }
                        .link{
                            a{
                                font-size: 18px;
                                color: $color_destaque;
                                text-decoration: underline;
                                font-family: 'Montserrat Bold';
                                transition: .30s;
                                &:hover{
                                    color: $color_destaque_hover;
                                }
                            }
                        }
                    }
                }
            }
            @include desktop{
                width: 30%;
            }
        }
    }
}